*{
  /* outline: 1px solid black; */
  margin: 0;
}

/*見やすくするための*/

/* body{
  background-color:blue;
}

main{
  background-color: blueviolet;
}

header{
  background-color: brown;
}

h1{
  background-color: burlywood;
}

section{
  background-color: cadetblue;
}

.list{
  background-color: chartreuse;
}

p{
  background-color: chocolate;
}

ul{
  background-color: coral;
} */
/*ここまで*/

header{
  padding: 20px;
}

header h1{
  text-align: center;
  margin: 20px 20px;
}

em{
  color: aqua;
  margin: 10px;
}

/* header ::before{
  border-top: 10px solid red;
} */

section{
  padding: 20px;;
}

section .backto{
  text-align: center;
}

section .list{
  /* height: 250px; */
  /* overflow-y: auto; */
  border: 1px solid black;
}

.list ul{
  height: 250px;
  overflow-y: auto;
  /* list-style-type: none; */
  /* padding-left: 0; */
}

.list p{
  text-align: center;
  border-bottom: 1px solid black;
}
.list ul li{
  border-bottom: 1px solid black;
}

ul li:hover{
  background-color: azure;
}

.list ul li .date{
  text-align: end;
  /* display: flex; */
}

/* .date2{
  text-align: end;
  margin: 0 100px;
} */

.forms{
  display: flex;
}

#header{
  display: none;
}

#section{
  display: none;
}

@media screen and (max-width: 480px){
  .list ul{
    /* list-style-type: none; */
    padding-left: 0;
  }
}